<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tender Machinery Analysis</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <header class="py-4 bg-primary text-white">
      <div class="container">
        <h1 class="display-5 fw-bold">Tender Machinery Analyzer</h1>
      </div>
    </header>
    <main class="container my-5">{% block content %}{% endblock %}</main>
    <!-- Bootstrap JS Bundle -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
